torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers==4.28.1
einops
icecream
flask
ruamel.yaml
uvicorn
fastapi
markdown2
gradio
sconf
tensorboardX
tensorboard
h5py
sentencepiece
peft==0.10.0
opencv-python
decord
chardet
cchardet
numpy==1.26.4
pylcs
rootutils
tqdm
